
<div class="card d-block mx-auto" style="width: 18rem;">
  <%= image_tag 'credencial.png', alt: 'credencial'%>
  <div class="card-body">
    <h4 class="card-title titulo">Beneficio Orbo</h4>
    <h6>Nombre: <%= current_user.name%></h6>
    <h6>Miembro desde: <%= current_user.created_at.strftime("%d-%m-%Y")%></h6>
    
  </div>
</div>
