<h1 class="titulo">Editar Contenido</h1>

<%= render "form", content: @content %>

<br>

<div>
  <%= link_to "Mostrar este Contenido", @content %> |
  <%= link_to "Listado de Contenidos", contents_path %>
</div>
