<div id="<%= dom_id map %>">
  <p>
    <strong>Name:</strong>
    <%= map.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= map.lat %>
  </p>

  <p>
    <strong>Long:</strong>
    <%= map.long %>
  </p>

</div>
