<footer class="footer navbar fixed-bottom" style="background-color: #c26e08">

  <div class="text-center p-3 mx-auto" style="background-color: #c26e08; color: white">
    © <%= Date.today.year %> Copyright: Orbo Chile
  </div>

</footer>
