
<div class="d-flex justify-content-center mt-5 pt-5">
    <%= image_tag 'logo.png', alt: 'Logo Orbo Chile', :widht => 120, :height => 120, :crop => :fill %>    
</div>
<br>
<div class="d-flex justify-content-center">
    <h1>¡Enamórate de Chile con Orbo!</h1>
</div>
<br>
<div class="d-flex justify-content-center">
    <h4>Revisa nuestros Partners, Beneficios y Contenido descargable:</h4>
</div>
<br>


