<h1 class="titulo">Editar evaluación</h1>

<%= render "form", rating: @rating %>

<br>

<div>
  <%= link_to "Mostrar esta evaluación", @rating %> |
  <%= link_to "Volver al listado de evaluaciones", ratings_path %>
</div>
