<h1 class="titulo">Actualizar el Prospecto</h1>

<%= render "form", prospect: @prospect %>

<br>

<div>
  <%= link_to "Volver al prospecto", @prospect %> |
  <%= link_to "Listado de prospectos", prospects_path %>
</div>
